# InklúAI_MicroServices
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Configuración y archivos sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales
.tmp/
.temp/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - PyCharm
.idea/

# Flask
instance/
.webassets-cache

# Directorios generados por virtualenv
bin/
include/
lib/
lib64/
share/
__pycache__/
logs/


# Otros
.DS_Store
